<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20220107_234142.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="etiquetaNombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Programador Full Stack Junior</p>
        <p>Tecnico Superior en RRHH</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Soy un profesional de RRHH, buscando mi primera oportunidad laboral en el mundo IT, se trabajar en equipo, consensuar con otras personas, siempre estoy buscando cosas nuevas para aprender. Entusiasta y responsable</p>
        </span>
    </div>
</div>
