<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" id="formulario">
                <div class="form-group" id="nomEmp">
                    <label for="nombreE">Nombre de la Institucion</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE" id="nomPue">Descripcion del estudio</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                </div>
                <button class="btn btn-primary" id="boton">
                    Editar estudio
                </button>
            </form>
        </div>
    </div>
</div>
