

<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>App del clima en Angular</h2>
            <p>Esta app muestra el clima actual y un pronóstico para los siguientes días, usando las coordenadas de ubicación del equipo que acceda a nuestra página web.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/maxresdefault.jpg" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>

<div class="row">
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Argentina programa Portfolio</h2>
            <p>Portfolio personal que contiene informacion personal, trayectoria laboral, educativa, soft y hard skills y proyectos personales. Realizado siguiendo las inidicaciones de argentina programa segunda etapa</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner-portfolio.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>

