
<div class="row" id="skills">
  <h1>Soft y Hard Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="700"
  [title]="'HTML'"
  [titleColor]="'bold'"
  [showSubtitle]="false"
  [showUnits]="false"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="75"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'white'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
    [title]="'CSS'"
    [titleColor]="'bold'"
    [showSubtitle]="false"
    [showUnits]="false"
  ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'white'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="700"
      [title]="'JavaScript'"
      [titleColor]="'bold'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="55"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        [title]="'JAVA'"
        [titleColor]="'bold'"
        [showSubtitle]="false"
        [showUnits]="false"
      ></circle-progress>
      </div>
      
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="70"
          [radius]="80"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'white'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="700"
          [title]="'Angular'"
          [titleColor]="'bold'"
          [showSubtitle]="false"
          [showUnits]="false"
        ></circle-progress>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <circle-progress
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'MySQL'"
            [titleColor]="'bold'"
            [showSubtitle]="false"
            [showUnits]="false"
          ></circle-progress>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="75"
              [radius]="80"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'white'"
              [innerStrokeColor]="'white'"
              [animation]="true"
              [animationDuration]="700"
              [title]="'Git'"
              [titleColor]="'bold'"
              [showSubtitle]="false"
              [showUnits]="false"
            ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <circle-progress
                [percent]="80"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'white'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="700"
                [title]="'Comunicacion'"
                [titleColor]="'bold'"
                [showSubtitle]="false"
                [showUnits]="false"
              ></circle-progress>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                  [percent]="88"
                  [radius]="80"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="2"
                  [outerStrokeColor]="'white'"
                  [innerStrokeColor]="'white'"
                  [animation]="true"
                  [animationDuration]="700"
                  [title]="'Flexibilidad'"
                  [titleColor]="'bold'"
                  [showSubtitle]="false"
                  [showUnits]="false"
                ></circle-progress>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                  <circle-progress
                    [percent]="60"
                    [radius]="80"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'white'"
                    [innerStrokeColor]="'white'"
                    [animation]="true"
                    [animationDuration]="700"
                    [title]="'Ingles'"
                    [titleColor]="'bold'"
                    [showSubtitle]="false"
                    [showUnits]="false"
                  ></circle-progress>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                      [percent]="88"
                      [radius]="80"
                      [outerStrokeWidth]="16"
                      [innerStrokeWidth]="2"
                      [outerStrokeColor]="'white'"
                      [innerStrokeColor]="'white'"
                      [animation]="true"
                      [animationDuration]="700"
                      [title]="'Adaptabilidad'"
                      [titleColor]="'bold'"
                      [showSubtitle]="false"
                      [showUnits]="false"
                    ></circle-progress>
                    </div>
            


</div>









<!--
    Percent = hace referencia al numero que indica la barra de porentaje
    radius = es el tamaño del circulo
    outerStrokeWidth = el ancho del circulo de afuera
    innerStrokeWidth = ancho del circulo de adentro
    outerStrokeColor = color del circulo de afuera
    innerStrokeColor = color del circulo de adentro
    animation = animacion de relleno
    animationDuration = duracion de la animacion de carga ddel circulo, esta en milisegundos
    title = sirve para escribir algo dentro del circulo, reemplaza a los numeros
    titleColor = Cambia el color de las letras dentro del circulo
    titleFontSize = Cambia el tamaño del titulo
    showUnits = "false"; esconde el signo de porcentaje %
    showSubtitle = "false;" esconde el subtitulo dentro del circulo
    PARA AGREGAR IMAGENES DENTRO DE LO CIRCULOS USAMOS:
    [imageSrc] = "'rutaImagen'";
    [showImage] = "'true'"; muestra la imagen
    imageHeigth = sirve para acomodar el largo de la imagen
    imageWisth = sirve para acomodar el ancho de la imagen
-->