<!--
<img src="../../../assets/APLogo-20-20.png" alt="logo" id="logoAP">
<img src="../../../assets/LogosInti.png" alt="inti" id="logoInti">
CODIGO VIEJO
-->

<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/APLogo-20-20.png" alt="logo" id="logoAP"></a>
            <a href="https://www.argentina.gob.ar/inti" target="_blank"><img src="../../../assets/LogosInti.png" alt="inti" id="logoInti"></a>
        </div>
        
        <div class="redes">
            <a href="https://github.com/nicodiaz-90" target="_blank"><img src="../../../assets/25231.png" alt=""></a>
            <a href="https://www.linkedin.com/in/nicolas-diaz-670326239/" target="_blank"><img src="../../../assets/Linkedin-Logo-2048x1280.png" alt=""></a>
            <a href="https://www.facebook.com/nicolas.diaz.1257" target="_blank"><img src="../../../assets/Facebook_icon.svg.png" alt=""></a>
            <a href="https://twitter.com/home" target="_blank"><img src="../../../assets/Twitter-logo.svg.png" alt=""></a>
        </div>
    </div>
</div>







    
